<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add A New Rectangle</title>
    </head>

    <body>
        <header style="color:pink;font-size:29px;">Please enter a rectangle's information</header>
        <ul style="text-align: center;list-style-position: inside;">
            <form class="" action="/add_new" method="post">
                <li style="color:rgb(70, 67, 67);font-size:20px;">Name:</li>
                <input type="text" name="rectangle_name" />
                <li style="color:rgb(70, 67, 67);font-size:20px;">Width:</li>
                <input type="text" name="width" />
                <li style="color:rgb(70, 67, 67);font-size:20px;">Height:</li>
                <input type="text" name="height" />
                <li style="color:rgb(70, 67, 67);font-size:20px;">Color:</li>
                <input type="text" name="color" />
                <li style="color:rgb(70, 67, 67);font-size:20px;">age:</li>
                <input type="text" name="age" />
                <li style="color:rgb(70, 67, 67);font-size:20px;">gender:</li>
                <input type="text" name="gender" />
                <br/>
                <button>Submit</button>
                <a href="/" style="color:GREEN;font-size:20px;">HOME</a>
            </form>
        </ul>
    
    </body>
</html>