<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Delete</title>
  </head>
  <body>
    <h2> Delete A Rectangle</h2>
    <div> 
      <form action="/dele" method="post"> 
        <input type="text" id="recId" name="recName" placeholder="rectangle name" style="background-color: burlywood; color:rgb(0, 68, 68)" required /> 
        <input type="submit" value="Delete" style="position: relative; left: 300px;background-color: burlywood; color:rgb(0, 68, 68)" >
      </form>
    </div> 

    <h1> Rectangle Data Collection</h1>
      <form name='myform' method='POST' action='/create'>
        <div id="side">
          <div id="origin">
            <label for="name">Rectangle Name: </label><input id="name" type="text" /><br /><br />
          </div>
        </div>
      </form>
  </body>
</html>