<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Display A Rectangle</title>
    </head>
    <body>
        <div class="container">
          <form class="" action="/" method="get">
            <input type="submit" name="" class = "button" value="Back Home">
          </form>
        </div>
        <div>
          <p align = "center" style="color: black; font-size: 30px;"><strong>Display your choice:</strong></p>
          <br>
          <div class="box">
            <% rows.forEach((r) => { %>
              <div>
              <p style="color: black; font-size: 30px;"><%= r.name %></p>
              <canvas width="<%= r.width %>" height="<%= r.height %>" style="border:4px solid white;"></canvas>
              </div>
            <% }); %>
          </div>
        </div>
      </body>
</html>