<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Update A Rectangle</title>
    </head>

    <body>
        <header style="color:pink;font-size:29px;">Please enter a rectangle's information that you want to update</header>
        <ul style="text-align: center;list-style-position: inside;">
            <form class="" action="/update" method="post">
                <p><strong>Please Enter the Rectangle's Name You Want to Update and Choose An Attribute to Fill A New Value:</strong></p>
                <br>
                <br>
                <form class="" action="/update" method="post">
                    Name (Required): <input type="text" name="rec_name" placeholder="Rectangle Name" required /> 
                    <br>
                    <input type="text" name="width" placeholder="Width" />
                    <input type="text" name="height" placeholder="Height" />
                    <input type="text" name="color" placeholder="Color" />
                    <input type="text" name="age" placeholder="Age" />
                    <input type="text" name="gender" placeholder="Gender" />
                    <!-- <input type="text" name="attribute" value="" placeholder="Attribute">
                    <input type="number" name="number" min = "0" value="" placeholder="New Value">
                    <input type="text" name="names" value="" placeholder="Rectangle Name">
                    <input type="submit" name="" value="Save"> -->
                    <br>
                    <br>
                    <button>Update</button>
                    <a href="/" style="color:GREEN;font-size:20px;margin-left:20px;">HOME</a>
                </form>
            </form>
        </ul>
    </body>
</html>