<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add A New Rectangle</title>
    </head>
    
    <body>
        <header style="color:pink;font-size:29px;">Please enter a rectangle's information</header>
        <ul style="text-align: center;list-style-position: inside;">
            <form class="" action="/add_new" method="post">
                <li style="color:rgb(70, 67, 67);font-size:20px;">Name:</li>
                <li><input type="text" name="rectangle_name" /></li>
                <li style="color:rgb(70, 67, 67);font-size:20px;">Weight:</li>
                <li><input type="text" name="weight" /></li>
                <li style="color:rgb(70, 67, 67);font-size:20px;">Height:</li>
                <li><input type="text" name="height" /></li>
                <br/>
                <button>Submit</button>
                <a href="/" style="color:GREEN;font-size:20px;">HOME</a>
            </form>
        </ul>
    
    </body>
</html>