
/* typical browser window size: 1366 x 768 */

body {
    background-color: rgb(168, 2, 2);
}

h1 {
    color: black;
    font-family: Arial;
    position: relative;
    left: -10px;
    margin-top: 25px; 
    padding: 30px;
}

h3 {
    color: rgb(231, 2, 2);
    position: relative;
    left: 15px;
    top: 25px;
}

h4 {
    color: rgb(54, 52, 52);
    position: relative;
    left: -15px;
    margin-top: 10px; 
    padding: 30px;
}

.content {
    position: relative;
    left: 40px;
    margin-top: -30px;
    height: 600px;
    max-width: 1000px;
    width: 95%;
    background: white;
}

.header{
    background-color: rgb(49, 48, 48);
    position: relative;
    left: 40px;
    /* display: inline-block; */
    border: 1px solid rgb(49, 48, 48);
    max-width: 1000px;
    width: 95%;
    height: 30px;
    /* padding: 10px; */
    margin-top: -10px; 
}

.calculator {
    background-color: rgb(209, 224, 231);
    height: 500px;
    max-width: 1000px;
    width: 76%;
    position: relative;
    left: 20px;
    margin-top: -40px; 
}

footer {
    background: rgb(65, 62, 62);
    position: relative;
    left: 40px;
    height: 50px;
    max-width: 1000px;
    width: 95%;
}

table {
    position: relative;
    left: 10px;
    top: -30px;
    width: 97%;
}

table, td {
    border: 1px solid rgb(204, 203, 203);
    border-collapse: collapse;
}

table {
    height: 280px;
}

td {
    height: 30px;
    border-color: rgb(184, 181, 181);
}

.firstRow {
    background-color: rgb(212, 211, 211);
    font-size: 12pt;
    font-weight: bold;
}

#name, #shortName, #weight, #grade, #percent {
    width: 20%;
}

#weightValue, #gradeNumerator, #gradeDenominator {
    height: 40%;
    width: 50px;
}

span {
    padding: 5px;
    font-size: 18pt;
    position: relative;
    bottom: -5px;
}

button {
    background-color: rgb(190, 4, 4);
    color: white;
    border: rgb(190, 4, 4);
    height: 35px;
    border-radius: 5px;
    cursor:pointer;
}

#addActivity {
    position: relative;
    bottom: 10px;
    left: 10px;
}

#weighted {
    position: absolute;
    bottom: 20px;
    left: 600px;
}

#mean {
    position: absolute;
    bottom: 20px;
    left: 690px;
}

#result {
    color: rgb(204, 4, 4);
    font-weight: bold;
    position: absolute;
    left: 12px;
    bottom: 20px;
}

#outputDisplay {
    color: rgb(0, 0, 0);
    font-weight: bold;
    position: absolute;
    left: 12px;
    bottom: 6px;
}